<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oumayma Bennamoun</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
        </style>
    </head>
    <body>
        <header>
            <div class="flex-container">
                <div>
                    <h1 style="font-family: 'Playfair Display', serif;"><a href="/#home">oumayma</a></h1>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="/#projects">projects</a></li>
                            <li><a href="/#contact">contact and links</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>