<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <title></title> -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h2>OUMAYMA</h2>
            <nav>
                <ul>
                    <li><a href="#home">home</a></li>
                    <li><a href="#interests">interests</a></li>
                    <li><a href="#projects">projects</a></li>
                    <li><a href="#links">links</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <section id="home">
            </section>

            <section id="interests">
            </section>

            <section id="projects">
            </section>

            <section id="links">
            </section>