<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oumayma Bennamoun</title>
        <link rel="stylesheet" href="/css/styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
        </style>
    </head>
    <body>
        <header>
            <h1 style="font-family: 'Times New Roman', Times, serif">
                <a href="/#home">oumayma</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/#projects">projects</a></li>
                    <li><a href="/#contact">contact and links</a></li>
                </ul>
            </nav>
        </header>
        <main>