<div class="content">
    <section id="home">
        <p>Welcome to my portfolio!</p>
        <p>My name is <br><span class="name">Oumayma Bennamoun</span></p>
        <p>I'm currently a Bachelor of Computer Science student in the Health and Life Sciences program.</p>
        <p>My interests include...</p>
    </section>

    <div class="interest-icons">
        <div class="box">
            <span class="highlight">
                <i class="ph ph-code" style="font-size: 38px;"></i>
            </span>
        </div>

        <div class="box">
            <span class="highlight">
                <i class="ph ph-atom" style="font-size: 38px;"></i>
            </span>
        </div>

        <div class="box">
            <span class="highlight">
                <i class="ph ph-cpu" style="font-size: 38px;"></i>
            </span>
        </div>
    </div>

    <div class="interests">
        <div class="box">
            <p>Coding and programming. Website development and design.</p>
        </div>

        <div class="box">
            <p>Biomedical sciences, and the software and hardware applications in this field.</p>
        </div>

        <div class="box">
            <p>And I'm continously looking to learn more about robotics!</p>
        </div>
    </div>
    
    <section id="projects" class="projects">
        <h2>Projects</h2>
        <p>Browse through all projects or filter by clicking on the tags!</p>
        <div class="project-1" filter-tags="HTML,CSS,JavaScript,Node.js,EJS">
            <a href="/my-portfolio">My Portfolio</a>
            <p>
                <a href="/projects?tag=HTML" class="tags">HTML<span class="plus">+</span></a>
                <a href="/projects?tag=CSS" class="tags">CSS<span class="plus">+</span></a>
                <a href="/projects?tag=JavaScript" class="tags">JavaScript<span class="plus">+</span></a>
                <a href="/projects?tag=Node.js" class="tags">Node.js<span class="plus">+</span></a>
                <a href="/projects?tag=EJS" class="tags">EJS<span class="plus">+</span></a>
            </p>
        </div>
        <p><a href="/projects">See all projects.</a></p>
    </section>
</div>