<div class="content">
    <section id="home">
        <p>Welcome to my portfolio!</p>
        <p>My name is <span class="underline" style="text-decoration: underline; text-decoration-color: rgb(158, 80, 93);">Oumayma Bennamoun</span>.</p>
        <p>I'm currently a Bachelor of Computer Science student in the Health and Life Sciences program.</p>
    </section>
    
    <section id="projects" class="projects">
        <h2>Projects</h2>
        <div class="project-1">
            <a href="/my-portfolio">My Portfolio</a>
            <p>
                <span class="skills">HTML<span class="plus">+</span></span>
                <span class="skills">CSS<span class="plus">+</span></span>
                <span class="skills">JavaScript<span class="plus">+</span></span>
                <span class="skills">Node.js<span class="plus">+</span></span>
                <span class="skills">EJS<span class="plus">+</span></span>
            </p>
        </div>
        <p><a href="/projects">See all projects.</a></p>
    </section>
</div>