<section id="home">
    <div class="welcome">
        <p>Hi, and welcome to my portfolio!
        <br>My name is </p>
        <p class="name">Oumayma Bennamoun.</p>
    </div>

    <br>
    <p>
        I'm a Bachelor of Computer Science student in Health and Life Sciences at Concordia University, 
        pursuing a foundation in computer science with additional background in biology.
    </p>

    <p style="text-align: center;">Particularly, my interests include...</p>

    <br>
    <div class="interests">
        <div class="box">
            <div class="highlight">
                <i class="ph ph-code"></i>
            </div>

            <div>
                <p>Coding and programming. Web development and design.</p>
            </div>
        </div>

        <div class="box">
            <div class="highlight">
                <i class="ph ph-atom"></i>
            </div>

            <div>
                <p>The biomedical field, and its software and hardware applications.</p>
            </div>
        </div>

        <div class="box">
            <div class="highlight">
                <i class="ph ph-cpu"></i>
            </div>

            <div>
            <p>Learning more about robotics through extracurriculars.</p>
            </div>
        </div>
    </div>

    <br>
    <div>
        More details about what I do are found in the projects page and through my contact section links!
    </div>
</section>