<div class="projects-page">
    <div class="project-1" filter-tags="HTML,CSS,JavaScript,Node.js,EJS">
        <a href="/my-portfolio">My Portfolio</a>
        <p>
            <a href="/projects?tag=HTML" class="tags">HTML<span class="plus">+</span></a>
            <a href="/projects?tag=CSS" class="tags">CSS<span class="plus">+</span></a>
            <a href="/projects?tag=JavaScript" class="tags">JavaScript<span class="plus">+</span></a>
            <a href="/projects?tag=Node.js" class="tags">Node.js<span class="plus">+</span></a>
            <a href="/projects?tag=EJS" class="tags">EJS<span class="plus">+</span></a>
        </p>
    </div>
</div>