<div class="projects-page">
    <div class="project-1">
        <a href="/my-portfolio">My Portfolio</a>
        <p>
            <span class="skills">HTML<span class="plus">+</span></span>
            <span class="skills">CSS<span class="plus">+</span></span>
            <span class="skills">JavaScript<span class="plus">+</span></span>
            <span class="skills">Node.js<span class="plus">+</span></span>
            <span class="skills">EJS<span class="plus">+</span></span>
        </p>
    </div>
</div>