<div class="projects">
    <h2>projects</h2>
    <div id="message"></div>

    <div class="project-1" skills="HTML,CSS,JavaScript,Node.js">
        <div class="project-content">
            <a href="/my-portfolio" style="text-decoration: underline;" class="projlink">My Portfolio</a>
    
            <p>Project status: <span class="status-complete">Complete</span></p>
    
            <p>Skills: 
                <a href="/projects?tag=HTML" class="tags">HTML</a>
                <a href="/projects?tag=CSS" class="tags">CSS</a>
                <a href="/projects?tag=JavaScript" class="tags">JavaScript</a>
                <a href="/projects?tag=Node.js" class="tags">Node.js</a>
            </p>
    
            <p>
                An overview of the development and design journey behind my portfolio website.
                The objective was to hone my client-side and server-side programming skills, create 
                a space to showcase future projects, and represent myself in an imaginative way!
            </p>
        </div>
    </div>

    <div class="project-2" skills="Python,C">
        <a href="/bioinformatics-problems" style="text-decoration: underline;" class="projlink">Bioinformatics Problems</a>
        
        <p>Project status: <span class="status-progress">In progress</span></p>
        
        <p>Skills: 
            <a href="/projects?tag=Python" class="tags">Python</a>
            <a href="/projects?tag=C" class="tags">C</a>
        </p>

        <p>
            A problem-solving set from Rosalind.info, combining the computer science and biology 
            concepts from my coursework into a project for the first time.
        </p>
    </div>

    <p>... and more to come soon :)</p>
</div>