<div class="projects-page">
    <div id="message"></div>
    <br>
    <h1>Projects</h1>
    <p>Browse through all projects or filter by clicking on the tags!</p>
    <div class="project-1" filter-tags="HTML,CSS,JavaScript,Node.js,EJS">
        <a href="/my-portfolio">My Portfolio</a>
        <p>
            <a href="/projects?tag=HTML" class="tags">HTML<span class="plus">+</span></a>
            <a href="/projects?tag=CSS" class="tags">CSS<span class="plus">+</span></a>
            <a href="/projects?tag=JavaScript" class="tags">JavaScript<span class="plus">+</span></a>
            <a href="/projects?tag=Node.js" class="tags">Node.js<span class="plus">+</span></a>
            <a href="/projects?tag=EJS" class="tags">EJS<span class="plus">+</span></a>
        </p>
    </div>

    <!-- div for testing purposes -->
    <div class="project-2" filter-tags="CSS,JavaScript,EJS">
        <a href="/my-portfolio">My Portfolio</a>
        <p>
            <a href="/projects?tag=CSS" class="tags">CSS<span class="plus">+</span></a>
            <a href="/projects?tag=JavaScript" class="tags">JavaScript<span class="plus">+</span></a>
            <a href="/projects?tag=EJS" class="tags">EJS<span class="plus">+</span></a>
        </p>
    </div>
</div>