header {
    color: #c07384;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 20px 20px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent; 
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.scroll {
    background-color: black;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: #c07384;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #c07384;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff4f6;
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: radial-gradient(circle at center, #e99ca8, #fff4f6);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home {
    margin-top: 100px; /* to adjust + add mobile responsiveness */
}

#projects {
    color: #c07384;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: auto;
}

#projects a {
    text-decoration: none;
    color: #c07384;
    border: 1px solid #c07384;
    padding: 5px;
}

#interests {
    color: #c07384;
    text-align: center;
    padding: 5px;
}

footer {
    color: #c07384;
    background-color: black;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}

.icons {
    fill: #c07384;;
    width: 30px;
    height: 30px;
}