header {
    color: black;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 20px 20px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent; 
    transition: background-color 0.3s ease;
    z-index: 1000;
}

header.scroll {
    background-color: #c07384;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    border-radius: 20px; 
    transition: color 0.3s ease; 
    position: relative; 
}

nav a:hover {
    color: rgb(146, 62, 90);
    text-shadow: 0 0 5px rgba(216, 85, 118, 0.8), 0 0 15px rgba(216, 85, 118, 0.6);
}

nav a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125%;
    height: 125%;
    background-color: rgba(216, 85, 118, 0.5);
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.3s ease; 
    filter: blur(10px); 
    z-index: -1; 
}

nav a:hover::after {
    transform: translate(-50%, -50%) scale(1); 
}

header.scroll nav a {
    background: none; 
}

header.scroll nav a:hover {
    color: rgb(253, 164, 209);
    text-shadow: 0 0 8px rgb(253, 164, 209), 0 0 5px rgba(255, 105, 180, 1); 
}

header.scroll nav a:hover::after {
    display: none; 
}

body {
    margin: 0;
    padding: 0px;
    background-color: #fff4f6;
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: radial-gradient(circle at center, #e99ca8, #fff4f6), url("/images/grain.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#home {
    margin-top: 200px; 
}

* {
    box-sizing: border-box;
}

.content {
    padding: 35px;
}

#projects {
    color: black;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: auto;
}

#projects a {
    text-decoration: none;
    color: #c07384;
}

.project-1 {
    border: 1px solid #c07384;
    padding: 10px;
    padding-top: 20px;
    margin: 20px;
}

.projects-page {
    margin-top: 200px;
    color: black;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: auto;
}

.projects-page a {
    text-decoration: none;
    color: #c07384;
}

.skills {
    background-color: #e99ca8;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

footer {
    color: black;
    background-color: #c07384;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
}

.icons {
    fill: black;
    width: 30px;
    height: 30px;
}

footer a {
    text-decoration: none;
}