* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: "Inconsolata", monospace;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: url("/images/texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

::selection {
    background: black;
    color: white;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 8px;
}

::-webkit-scrollbar-button:single-button {
    border-style: solid;
    display: block;
    height: 10px;
    width: 12px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-color: transparent transparent black transparent;
    border-width: 0 8px 8px 8px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-color: black transparent transparent transparent;
    border-width: 8px 8px 0 8px;
}

header {
    color: black;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    padding: 20px 48px;
    z-index: 3;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    transform: translateY(0);
    width: 100%;
}

h1 {
    margin: 0;
    font-weight: 550;
    font-size: 33px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

h1 a {
    color: black;
    text-decoration: none;
    text-shadow: none;
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

h1 a:hover {
    color: #E17D8B;
    text-shadow: 0 0 8px #FA6479; 
}

#star {
    font-size: 37px;
    position: absolute;  
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-align: center;
    display: inline-block;
    transition: color 0.3s ease-in-out;
    text-align: center;        
}

.nav-container {
    text-align: right;
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: black;
    text-shadow: none;
    position: relative; 
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    color: #E17D8B;
    text-shadow: 0 0 8px #FA6479;
}

.h1, #star, .nav-container {
    width: 33.33%;        
}

header.scroll {
    background-color: #D18E97;
    border-bottom: 2px solid black;
    background-image: url("/images/texture.png");
    background-size: cover;
    background-blend-mode: multiply;
}

header.scroll h1 a:hover {
    color: #ECC8CC;
    text-shadow: 0px 0px 2px #BE7B84, 2px 2px 20px #ECC8CC;
}

header.scroll nav a:hover {
    color: #ECC8CC;
    text-shadow: 0px 0px 2px #BE7B84, 2px 2px 20px #ECC8CC;
}

main {
    padding: 75px 60px 45px 65px;
}

#home {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}

.welcome {
    text-align: center;
    font-size: 26px;
    margin-bottom: 0;
}

.name {
    font-family: "Playfair Display", serif;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    background-image: linear-gradient(
        to right,
        #642633,
        #ba4b62,
        #d8a0a8,
        #ba4b62,
        #642633
    );
    -webkit-background-clip: text;  
    background-clip: text;          
    color: transparent;             
    user-select: text;             
    background-size: 200% auto;
    background-position: 0%;
    animation: animatedName 3.5s linear infinite;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

@keyframes animatedName {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
.box {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 175px;
}

.box p {
    font-style: italic;
    color: #3b3b3b;
}

.interests {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px;
}

.highlight {
    font-size: 38px;
    box-shadow: inset 0 -8px 0 #D18E97;
    display: inline;
}

.projects {
    margin-top: 95px !important;
    color: black;
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.return {
    color: black;
    transition: color 0.3s ease;
}

.return:hover {
    color: #E17D8B;
    text-shadow: 0 0 8px #FA6479;
}

.project-1, .project-2 {
    background-color: rgb(59, 59, 59, 0.08);
    border: 1px solid #3b3b3b;
    border-radius: 20px;
    padding: 20px 30px 10px 30px;
    margin-top: 35px;
    width: 650px;
    position: relative;
}

.projlink {
    color: black;
    transition: color 0.3s ease;
    font-weight: bold;
    z-index: 2;
    position: relative;
}

.projlink:hover {
    color: #E17D8B;
    text-shadow: 0 0 8px #FA6479;
    z-index: 2;
}

.project-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: transparent;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.1s linear;
}

.tags {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background: rgb(250, 100, 121, 0.3);
    border-radius: 20px;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 4px;
    z-index: 2;
    position: relative;
}

.tags:hover {
    transform: scale(1.1);
    z-index: 2;
}

.status-complete {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background: rgba(144, 250, 102, 0.3);
    border-radius: 20px;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px;
    z-index: 2;
    position: relative;
}

.status-progress {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background: rgba(250, 197, 100, 0.3);
    border-radius: 20px;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px;
    z-index: 2;
    position: relative;
}

.project-page-1 {
    margin-top: 50px !important;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-page-2 {
    margin-top: 50px !important;
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.timeline-and-skills {
    display: flex;
    flex-direction: row;
}

.timeline-container-1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.timeline-container-2 {
    width: 50%;
    height: 100px;
}

.timeline {
    border-left: 2px solid black;
    text-align: left;
    height: 100%;
    position: relative;
    animation: border-slide 3s ease-out forwards;
}

@keyframes border-slide {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 20px;
}

.timeline-item:before {
    content: "";
    position: absolute;
    left: -10px;
    width: 16px;
    height: 16px;
    background: #D18E97;
    border: 2px solid black;
    border-radius: 50%;
}

.skills-container {
    width: 50%;
}

.skills {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background: rgb(250, 100, 121, 0.15);
    border-radius: 20px;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 4px;
}

.repository {
    fill: black;
    width: 55px;
    height: 55px;
    margin: 5px;
    transition: fill 0.3s ease, filter 0.3s ease; 
}

.repository:hover {
    fill: #E17D8B;
    filter: 0 0 8px #FA6479;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-container figcaption {
    font-style: italic;
    color: #3b3b3b;
    font-size: 20px;
}

footer {
    margin: 0;
    color: black;
    background-color: #D18E97;
    border-top: 2px solid black;
    background-image: url("/images/texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    padding: 0 48px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 23vh;
}

footer a {
    text-decoration: none;
}

.logo {
    padding-top: 10px;
}

.links {
    position: absolute;  
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-align: center;
    padding-bottom: 8px;
}

.icons {
    fill: black;
    width: 35px;
    height: 35px;
    margin: 5px;
    transition: fill 0.3s ease, filter 0.3s ease; 
}

.icons:hover {
    fill: #ECC8CC;
    filter: drop-shadow(0px 0px 5px #BE7B84);
    filter: drop-shadow(2px 2px 20px #ECC8CC);
}

#top {
    background: transparent;
    color: black;
    border-style: none;
    font-size: 22px;
    font-family: "Inconsolata", monospace;
    transition: color 0.3s ease;
}

#top:hover {
    color: #ECC8CC;
    text-shadow: 0px 0px 2px #BE7B84, 2px 2px 20px #ECC8CC;
    cursor: pointer;
}

.copyright-and-button {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 18px 25px;
        font-size: 18px;
    }

    h1 {
        font-size: 26px;
    }

    #star {
        font-size: 30px;
    }

    main {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 37px;
        padding-top: 80px;
        font-size: 18px;
        text-align: left;
    }

    .welcome {
        font-size: 22px;
    }

    .name {
        font-size: 45px;
    }

    .interests {
        flex-direction: column;
        gap: 10px;
    }

    .project-1, .project-2 {
        width: 450px;
    }

    footer {
        padding: 20px 30px;
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }
    
    .logo img {
        width: 65px;
    }

    .icons {
        width: 33px;
        height: 33px;
        margin: 4px;
    }

    #top {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .project-1, .project-2 {
        width: 300px;
    }
}